#
# User defined Makefile options for graphlcd daemon and tools

### The C compiler and options:

CC       = gcc
CFLAGS   = -O2

CXX      = g++
CXXFLAGS = -g -O2 -Wall -Woverloaded-virtual
#CXXFLAGS = -g -ggdb -O0 -Wall -Woverloaded-virtual

#LDFLAGS  = -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

ifndef $(DESTDIR)
DESTDIR = /usr/local
endif

BINDIR = $(DESTDIR)/bin
LIBDIR = $(DESTDIR)/lib
INCDIR = $(DESTDIR)/include
MANDIR = $(DESTDIR)/man

### Includes and defines

#INCLUDES += -I

DEFINES += -D_GNU_SOURCE

# comment this variable out if you don't want to use FreeType2 font rendering
HAVE_FREETYPE2=1

# uncomment one of the following two lines if you want either GraphicsMagick/ImageMagick support
#HAVE_IMAGEMAGICK=1
#HAVE_GRAPHICSMAGICK=1
