#
# User defined Makefile options for graphlcd daemon and tools

### The C compiler and options:

CC       = gcc
CFLAGS   = -O2

#CXX      = g++

CXXFLAGS = -g -O2 -Wall -Woverloaded-virtual
#CXXFLAGS = -g -ggdb -O0 -Wall -Woverloaded-virtual

# no CXX given at all: force g++
ifeq (x$(CXX)x,xx)
  CXX=g++
endif

# CXX set to clang++: force clang
ifeq ($(CXX),clang++)
  CXX = clang
endif

# set CXXEXTRA and MAKEDEP according to compiler that is used
ifeq ($(CXX),clang)
  CXXEXTRA = -x c++ -Qunused-arguments 
  MAKEDEP = clang -x c++ -M -MM -Qunused-arguments
else
  CXXEXTRA =
  MAKEDEP = g++ -MM -MG
endif

#LDFLAGS  = -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

ifndef $(DESTDIR)
DESTDIR = /usr/local
endif

BINDIR = $(DESTDIR)/bin
LIBDIR = $(DESTDIR)/lib
INCDIR = $(DESTDIR)/include
MANDIR = $(DESTDIR)/man

### Includes and defines

#INCLUDES += -I

DEFINES += -D_GNU_SOURCE
# define HAVE_DEBUG when invoking "make" if you want to use debugging
ifdef HAVE_DEBUG
DEFINES += -DHAVE_DEBUG
endif


#
#
# Build & install configuration

# comment this variable out if you don't want to use FreeType2 font rendering
HAVE_FREETYPE2=1

# comment this variable out if you don't want to use fontconfig font names
HAVE_FONTCONFIG=1

# comment this if you do not want to have the binaries pre-stripped on 'make install'
PRESTRIP = -s

# uncomment one of the following two lines if you want either GraphicsMagick/ImageMagick support
#HAVE_IMAGEMAGICK=1
#HAVE_GRAPHICSMAGICK=1

# uncomment this variable if you want to enable the experimental AX 206 based digital photo frame driver
# Read DRIVER.ax206dpf before use!
#HAVE_AX206DPF_EXPERIMENTAL=1

# uncomment this variable if you want to enable the experimental support for picoLCD 256x64 
#HAVE_picoLCD_256x64_EXPERIMENTAL=1
